<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title>Roboto Gift</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
    <link rel="stylesheet" href="./assets/app.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

<!-- Container #1 (see wireframe) -->
<md-toolbar layout="row" class="md-toolbar-tools">
    <md-icon md-svg-icon="assets/svg/gift-icon.svg" style="width: 40px; height: 40px; margin-left: 5px; margin-right: 20px;"></md-icon>
    <h1>Roboto Gift</h1>
</md-toolbar>

<!-- Container #2 -->
<div flex layout="row">

    <!-- Container #4 -->
    <md-content flex id="content">
        <!-- Custom UserDetails component -->
        <gift-search-panel send-search-request="app.sendLogin(userName, password, targetUser, numberOfGifts)"></gift-search-panel>

        <div layout="row" ng-if="app.isLoading" layout-align="space-around" style="margin-top: 20px;">
            <md-progress-circular ng-disabled="!app.isLoading" class="md-accent md-hue-3" md-diameter="70"></md-progress-circular>
        </div>

        <div layout="column" ng-show="app.isLoading" layout-align="center" style="text-align: center;">
            <h3 style="flex: 1" ng-show="app.showSecondLoadingHint"> We are currently looking for matching products... please wait...</h3>
            <h3 style="flex: 1" ng-show="app.showSecondLoadingHint"> Finished Instagram crawling! </h3>
            <h3 style="flex:1" ng-show="app.showFirstLoadingHint"> We are currently crawling the Instagram profile of {{app.targetUser}}... This can take up to one minute, please wait...</h3>
        </div>

        <personality-panel ng-if="app.personality" user-info="app.userInfo" personality="app.personality"></personality-panel>
        <gift-results ng-if="app.results" results="app.results"></gift-results>
    </md-content>

</div>


<script src="./jspm_packages/system.js" type="text/javascript"></script>
<script src="config.js" type="text/javascript"></script>
<script type="text/javascript">
  System.import('src/boot/boot').catch(console.error.bind(console)); // make sure any errors print to console
</script>

</body>
</html>
